<?xml version="1.0" encoding="UTF-8"?>
<launch>
    
<param name="robot_description" command="$(find xacro)/xacro --inorder '$(find m2wr_description)/urdf/m2wr.xacro'" />

<node name="tf_broadcaster1_node" pkg="m2wr_description" type="tf_broadcaster1.py" output="screen">
</node>
<node name="tf_broadcaster2_node" pkg="m2wr_description" type="tf_broadcaster2.py" output="screen">
</node>
<node name="tf_broadcaster3_node" pkg="m2wr_description" type="tf_broadcaster3.py" output="screen">
</node>
<node name="tf_broadcaster_node" pkg="m2wr_description" type="tf_broadcaster.py" output="screen">
</node>

<arg name="x" default="0"/>
<arg name="y" default="0"/>
<arg name="z" default="0.5"/>

<node name="mybot_spawn" pkg="gazebo_ros" type="spawn_model" output="screen"
      args="-urdf -param robot_description -model m2wr -x $(arg x) -y $(arg y) -z $(arg z)"/>

<!-- Load the URDF description of the "camera" robot -->
<param name="camera_description" command="$(find xacro)/xacro --inorder '$(find m2wr_description)/urdf/camera.xacro'"/>
      
    <arg name="X" default="-0.5"/>
    <arg name="Y" default="0"/>
    <arg name="Z" default="0.5"/>
      
        <!-- Spawn the "camera" robot -->
<node name="camera_spawn" pkg="gazebo_ros" type="spawn_model" output="screen"
              args="-urdf -param camera_description -model camera -x $(arg X) -y $(arg Y) -z $(arg Z)" />

  <!-- Launch the Gazebo simulation with the specified world file -->
  <include file="$(find gazebo_ros)/launch/empty_world.launch"></include>
 </launch>